 <div class="container">
    <div class="row pad-botm">
        <div class="col-md-12">
            <h4 class="header-line">ALUNOS</h4>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                         <input type="search">
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Username</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Mark</td>
                                                    <td>Otto</td>
                                                    <td>@mdo</td>
                                                    <td><a href="#" class="btn btn-primary btn-xs">primary</a></td>
                                                    <td><a href="#" class="btn btn-warning btn-xs">warning</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Jacob</td>
                                                    <td>Thornton</td>
                                                    <td>@fat</td>
                                                    <td><a href="#" class="btn btn-primary btn-xs">primary</a></td>
                                                    <td><a href="#" class="btn btn-warning btn-xs">warning</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                        <!-- End  Hover Rows  -->                                    
                    </div>    
                </div>    
            </div>
        </div>    
    </div>    
</div>
        <!-- DATATABLE SCRIPTS  -->
    