 <div class="container">
    <div class="row pad-botm">
        <div class="col-md-12">
            <h4 class="header-line">ALUNOS</h4>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Busca..." name="srch-term" id="srch-term">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Nome</th>
                                                    <th>Email</th>
                                                    <th></th>
                                                    <th><a class="btn btn-info" data-toggle="modal" href="#/student"><i class="fa fa-plus"></a></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="student in students">
                                                    <td>{{student.name}}</td>
                                                    <td>{{student.email}}</td>
                                                    <td>
                                                        <button class="btn btn-primary btn-xs" ><i class="fa fa-edit "></i></button>
                                                                                                                
                                                    </td>
                                                    <td><button class="btn btn-danger btn-xs" ><i class="fa fa-pencil"></button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                        <!-- End  Hover Rows  -->                                    
                    </div>    
                </div>    
            </div>
        </div>    
    </div>    
</div>
      
    